/* BODY */
body{
    background-color:rgb(46, 46, 46);
    color:#fff;
}

.primary-bg-color{
    background-color:#252525;
}

.secondary-bg-color{
    background-color:#c09578;
}

.light-bg-color{
    background-color:#fcf5eb;
}

.dark-bg-color{
    background-color:#101010;
}

.primary-color{
    color:#c09578;
}

.secondary-color{
    color:#626262;
}

.light-color{
    color:#fcf5eb;
}

/* HEADER */
h1, .bi.bi-person, 
.bi.bi-heart, 
.bi.bi-bag{
    font-size: 30px;
    color: #fff;
}

#searchproduct{
    margin-right: 200px;
    margin-left: 200px;
}

.list-inline li{
    position:relative;
}

.qty-info{
    position:absolute;
    top: -1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ef3636;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color:white;
}

b{
    color:#c09578;
    font-size: 13px;
}

.form-control{
    background-color: transparent;
    border: none;
    color:#fff;
}

.form-control:focus{
    background-color: transparent;
    box-shadow: none;
    color:#fff;
}

.form.d-flex{
    border: 2px solid #626262;
}

.bi.bi-search.primary-color{
    position:relative;
    top:8px;
    right:-5px;
}

@media (max-width:768px){
    #searchproduct{
        min-width: 80%;
    }
}

/* TOP NAVBAR */
#bottom-navbar{
    position:relative;
    left:-1.5%;
}

#bottom-navbar a{
    font-weight: bold;
    color:#fff;
}

#bottom-navbar-container .container{
    justify-content: flex-end;
}

/* CAROUSEL */
#carousel-container{
    padding: 0;
}

.carousel-caption{
    bottom: 5em;
    left:30%;
    right: 30%;
    font-size: 1em;
    max-width: 35%;
}

.carousel-caption h5{
    font-size: 1.8em;
}

@media (max-width:768px){
    #slider .carousel-item,
    #slider img{
        height: 400px;
    }

    .carousel-caption{
        bottom: .8em;
        left:30%;
        right:30%;
        font-size: .8em;
    }

    .carousel-caption h5{
        font-size: 1.6em;
    }

}

/* BANNERS */
#mini-banners{
    margin-top: -1.5em;
    z-index: 10;
}

#mini-banners .col-12{
    z-index: 1;
    height: 300px;
    max-width: 25%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media(max-width:768px){
    #mini-banners .col-12{
        z-index: 1;
        height: 300px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #mini-banners .col-12 img{
        position: absolute;
        max-width: 65%;
        top: 4em;
        left: 1.3em;
    }

    #mini-banners .col-12 h3{
        text-transform: uppercase;
        color: rgb(129, 125, 125);
        font-size: .7em;
    }

    #mini-banners .col-12 a{
        text-decoration: none;
        color: rgb(129, 125, 125);
        font-size: .5em;
        transition: .5s;
    }
    
}

#mini-banners .col-12 h3{
    text-transform: uppercase;
    max-width: 50px;
    color: rgb(129, 125, 125);
    font-weight: bold;
    line-height: 1em;
}

#mini-banners .col-12 img{
    max-height: 60%;
    position: absolute;
    right: 1em;
    bottom: 2.5em;
}

#mini-banners .col-12 a{
    text-decoration: none;
    color: rgb(129, 125, 125);
    font-size: .8em;
    transition: .5s;
}

#mini-banners .col-12 a:hover{
    text-decoration: none;
    font-weight: bold;
    color: rgb(129, 125, 125);
    font-size: 1em;
}

/* BEST SELLERS */
#bestSellers{
    padding: 4em 0;
}

#bestSellers .row{
    margin: 0;
}

#bestSellers .col-md-3{
    padding:0;
}

.title{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.5em;
    margin-bottom: 1em;
}

@media (max-width:768px){
    .title{
        text-align: left;
        font-size: 1em;
    }

    .card-img-top.img-fluid{
        margin: 2em auto;
        max-width: 50px;
    }

    .card-text.primary-color{
        font-size: 1em;
    }
}

.card{
    text-align: center;
    border-radius: 0;
}

.card img{
    width: 140px;
    margin: 2em auto;
    max-height: 230px;
}

.card .card-category{
    font-size: .8em;
}

.card .card-text{
    margin: 2em 0;
    font-weight: bold;
}

.btn.btn-primary{
    background-color: transparent;
    border-color: #c09578;
    transition: .5s
}

.btn.btn-primary:hover{
    background-color: #c09578;
    border-color: black;
    color: black;
}

/* PROMOTION WATCH CARD */
#promotion, #promotioncard{
    background-color:black;
    text-align:center;
    font-size: 2rem;
}

.image-fluid{
    max-height: 350px;
    max-width:250px;
    margin-left:auto;
    margin-right:auto;
}

#promotioncard h2{
    color:#fff;
    font-weight:bold;
}

#promotioncard p{
    color:#c09578;
    font-weight:bold;
}

#promotioncard a{
    color:#fff;
    font-weight:bold;
    max-width:100px;
    margin-left:auto;
    margin-right:auto;
}

#promotioncard a:hover{
    background-color:#fff;
    color:black;
    font-weight:bold;
    max-width:100px;
    margin-left:auto;
    margin-right:auto;
}

@media (max-width:768px){
    .card p, h2{
        font-size: .5em;
    }

    #promotionImage{
        max-height: 150px;
        max-width: 120px;
    }
}

/* Coming Up */
#new{
    color:#c09578;  
}

.container.m-6{
    background-color: black;
    color: white;
}

#thebest p, h3{
    color:#c09578;
    font-weight:bold;
    font-size:1.5em;
    text-align:center;
}

#thebest h3{
    color:#fff;
}

.card-title,
.card-text,
.card-dark-bg-color{
    text-align:center;
}

.card-dark-bg-color{
    max-height: 458px;
}

.card-body a{
    margin-left:auto;
    margin-right:auto;
}

.card-body img{
    margin: 2em auto;
    max-height: 230px;
    max-width: 140px;
}

@media (max-width:768px){
    #new{
        font-size: 1em;
    }

    #thebest{
        font-size: .7em;
    }

    .card-title{
        font-size:.8em;
    }

    .card-body img{
        max-height: 55px;
        max-width: 75px;
    }

    .card-body a{
        font-size:.8em;
        max-height: 50px;
        max-width: 75px;
    }
}

/* SITE MAP FOOTER */
.card-fluid h2{
    color:#fff;
    text-align:center;
}

.card-dark-bg-color p{
    color:rgb(102, 101, 101);
    text-align:center;
}

.card-dark-bg-color img{
    display:inline-block;
    height: 178px;
}

/* NEWS LETTER SUBSCRIPTION */
#newsletter{
    background-color:black;
}

form{
    text-align:center;
    font-size:1.3rem;
    color:#c09578;
}

.form-control.mb-3{
    background-color:rgb(46, 46, 46);
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:768px){
    .form-control.mb-3{
        position:relative;
        left:-40px;
        max-width: 250px;
    }
}

/* FOOTER */ 
.list-inline{
    text-align:center;
    font-size:1.3rem;
    color:rgb(102, 101, 101);
}

.list-inline-item{
    font-size:1.5rem;
    text-align:center;
}