/* BODY */
body{
    background-color:rgb(46, 46, 46);
}

/* HEADER */
h1, .bi.bi-person, 
.bi.bi-heart, 
.bi.bi-bag{
    font-size: 20px;
    color: #fff;
}

#searchproduct{
    margin-right: 200px;
    margin-left: 200px;
}

/* TOP NAVBAR */
.navbar.navbar-expand-lg{
    padding:0;
}

#topnavbar{
    background-color:rgb(160, 133, 113);
    font-weight: bold;
}

#topnavbar a{
    color:#fff;
}

/* CAROUSEL */


/* CARDS */
#cards-start, 
#cards-start img, #cards-start a{
    background-color:black;
    color:#fff;
    text-decoration:none;
}

#cards-center, 
#cards-center img, #cards-center a{
    background-color:rgb(160, 133, 113);
    color:#fff;
    text-decoration:none;
}

#cards-end, 
#cards-end img, #cards-end a{
    background-color:rgb(248, 238, 243);
    color:rgb(102, 102, 102);
    text-decoration:none;
}
/* BEST SELLERS CARDS */
#bestsellerstitle{
    color:rgb(160,133,113);
    margin-top: 35px;
    text-align: start;
    font-weight: bold;
}

#bestSellers,
.card-fluid.p-3{
    background-color:rgb(46, 46, 46);
    color:#fff;
}

.card-fluid.p-3 img, h5, p, a{
    margin-left:auto;
    margin-right:auto;
    text-align: center;    
}

.card-img-top{
    margin-top: 20px;
}

.btn.btn-outline-light.btn-sm,
.btn.btn-outline-light.mb-3,
.btn.btn-outline-light.mb-3{
    background-color:rgb(46, 46, 46);
    color:rgb(160,133,113);
    border-color:rgb(160,133,113);
    max-width: 100px;
    padding-right: auto;
    padding-left: auto;
    margin-left: auto;
    margin-right: auto;
}

.btn.btn-outline-light.btn-sm:hover,
.btn.btn-outline-light.mb-3:hover,
.btn.btn-outline-light.mb-3:hover{
    background-color:rgb(160,133,113);
    color:rgb(46, 46, 46);
}

/* PROMOTION WATCH CARD */
#promotion, #promotioncard{
    background-color:black;
    text-align:center;
    font-size: 2rem;
}

.image-fluid{
    max-height: 350px;
    max-width:250px;
    margin-left:auto;
    margin-right:auto;
}

#promotioncard h2{
    color:#fff;
    font-weight:bold;
}

#promotioncard p{
    color:rgb(160,133,113);
    font-weight:bold;
}

#promotioncard a{
    color:#fff;
    font-weight:bold;
    max-width:100px;
    margin-left:auto;
    margin-right:auto;
}

#promotioncard a:hover{
    background-color:#fff;
    color:black;
    font-weight:bold;
    max-width:100px;
    margin-left:auto;
    margin-right:auto;
}


/* NEW ONES CARDS WITH ASIDE BAR */
#new{
    color:rgb(160,133,113);  
}

.container.m-6{
    background-color: black;
    color: white;
}

.card-fluid{
    background-color:rgb(46, 46, 46);
    max-width:200px;
    margin-left:auto;
    margin-right:auto;
}

.card-fluid img{
    background-color:rgb(46, 46, 46);
    max-width: 120px;
    max-height: 250px;
    margin-right: auto;
    margin-left: auto;
}

#thebest p{
    color:rgb(160,133,113);
    font-weight:bold;
}

#thebest h3{
    color:#fff;
    font-weight:bold;
    text-align:center;
}

.card-title{
    text-align:center;
}


/* SITE MAP FOOTER */
.card-fluid h2{
    color:#fff;
    text-align:center;
}

.card-fluid p{
    color:rgb(102, 101, 101);
    text-align:center;
}

/* NEWS LETTER SUBSCRIPTION */
#newsletter, .form-control.mb-3{
    background-color:black;
}

.form-control.mb-3{
    border-color:rgb(102, 101, 101);
}

form, .list-inline{
    text-align:center;
    font-size:1.3rem;
    color:rgb(102, 101, 101);
}

/* FOOTER */ 

.list-inline{
    font-size:1.5rem;
}