/* BODY */
body{
    background-color:rgb(46, 46, 46);
}

/* HEADER */
h1, .bi.bi-person, 
.bi.bi-heart, 
.bi.bi-bag{
    font-size: 20px;
    color: #fff;
}

#searchproduct{
    margin-right: 200px;
    margin-left: 200px;
}

/* TOP NAVBAR */
#topnavbar{
    background-color:rgb(160, 133, 113);
}

#topnavbar a{
    color:#fff;
}

/* CAROUSEL */


/* CARDS */
.card-img-top{
    padding-right:auto;
    padding-left:auto;
}


#cards-start, 
#cards-start a{
    background-color:black;
    color:#fff;
    text-decoration:none;
}


#cards-center, 
#cards-center a{
    background-color:rgb(160, 133, 113);
    color:#fff;
    text-decoration:none;
    text-align:center;
}

#cards-end, 
#cards-end a{
    background-color:rgb(248, 238, 243);
    color:rgb(102, 102, 102);
    text-decoration:none;
}
/* BEST SELLERS CARDS */
#bestSellers,
.card.float-start.p-5,
.card.float-center.p-5,
.card.float-end.p-5{
    background-color:rgb(46, 46, 46);
    color:#fff;
}

.card.float-start.p-5 p, h3, a{
    text-align: center;
}

.card.float-center.p-5 p, h3, a{
    text-align: center;
}

.card.float-end.p-5 h3, p, a{
    text-align: center;
}

.btn.btn-outline-light{
    background-color:rgb(46, 46, 46);
    color:rgb(160,133,113);
    border-color:rgb(160,133,113);
}

.btn.btn-outline-light:hover{
    background-color:rgb(160,133,113);
    color:rgb(46, 46, 46);
}

/* PROMOTION WATCH CARD */
#promotion{
    background-color:black;
}

.image-fluid,
.card-img-top{
    max-height: 200px;
    max-width:100px;
    margin-left:auto;
    margin-right:auto;
}

/* NEW ONES CARDS WITH ASIDE BAR */
/* SITE MAP FOOTER */
/* NEWS LETTER SUBSCRIPTION */
/* FOOTER */ 